body {
  margin: 0;
  padding: 0;
  background-color: white;
}
.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
}
.result {
  width: 550px;
  display: flex;
  flex-direction: column;
}
